@font-face {
    font-family: 'Dot';
    src: url('./supadot.otf');
}
@font-face {
    font-family: 'ring';
    src: url('./RingMatrix3D.ttf');
}

body {
    background-image: url(petals_background_2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Dot','Helvetica';
}

h1 {
    font-size: 10rem;
    padding: 0px;
    border: 0px;
    margin: 0px;
}